In [43]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC

In [26]:
df_math = pd.read_excel("student-math.xlsx")

In [27]:
df_math

,Gender,age,famsize,traveltime,studytime,activities,freetime,goout,absences,G1,G2,G3
0,F,18,GT3,2,2,no,3,4,6,5,6,6
1,F,17,GT3,1,2,no,3,3,4,5,5,6
2,F,15,LE3,1,2,no,3,2,10,7,8,10
3,F,15,GT3,1,3,yes,2,2,2,15,14,15
4,F,16,GT3,1,2,no,3,2,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,LE3,1,2,no,5,4,11,9,9,9
391,M,17,LE3,2,1,no,4,5,3,14,16,16
392,M,21,GT3,1,1,no,5,3,3,10,8,7
393,M,18,LE3,3,1,no,4,1,0,11,12,10
394,M,19,LE3,1,1,no,2,3,5,8,9,9

In [28]:


codes_gender, uniques_gender = pd.factorize(df_math["Gender"])

In [29]:
codes_gender

array([0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1])

In [30]:
uniques_gender

Index(['F', 'M'], dtype='object')

In [31]:
df_math["gender factorized"] = np.array(codes_gender)

In [33]:
codes_fam, uniques_fam = pd.factorize(df_math["famsize"])

In [34]:
codes_fam

array([0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1])

In [35]:
uniques_fam

Index(['GT3', 'LE3'], dtype='object')

In [36]:
df_math["fam size factorized"] = np.array(codes_fam)

In [37]:
codes_activities, uniques_activities = pd.factorize(df_math["activities"])

In [38]:
codes_activities

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0])

In [39]:
uniques_activities

Index(['no', 'yes'], dtype='object')

In [40]:
df_math["activities factorized"] = np.array(codes_activities)

In [41]:
df_math

,Gender,age,famsize,traveltime,studytime,activities,freetime,goout,absences,G1,G2,G3,gender factorized,fam size factorized,activities factorized
0,F,18,GT3,2,2,no,3,4,6,5,6,6,0,0,0
1,F,17,GT3,1,2,no,3,3,4,5,5,6,0,0,0
2,F,15,LE3,1,2,no,3,2,10,7,8,10,0,1,0
3,F,15,GT3,1,3,yes,2,2,2,15,14,15,0,0,1
4,F,16,GT3,1,2,no,3,2,4,6,10,10,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,LE3,1,2,no,5,4,11,9,9,9,1,1,0
391,M,17,LE3,2,1,no,4,5,3,14,16,16,1,1,0
392,M,21,GT3,1,1,no,5,3,3,10,8,7,1,0,0
393,M,18,LE3,3,1,no,4,1,0,11,12,10,1,1,0
394,M,19,LE3,1,1,no,2,3,5,8,9,9,1,1,0

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

#Linear regression
X = pd.DataFrame()

X["gender"] = df_math['gender factorized']
X["age"] = df_math['age']
X["fam_size_Fact"] = df_math['fam size factorized']
X['travel'] = df_math['traveltime']
X['study'] = df_math["studytime"]
X['activities'] = df_math['activities factorized']
X['free'] = df_math['freetime']
X['out'] = df_math['goout']
X['absences'] = df_math['absences']                     

y = pd.DataFrame()
y['mid1'] = df_math['G1']

X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model = LinearRegression()

model.fit(X_train, y_train)

y_predict = model.predict(x_test)
print(r2_score(y_test, y_predict))
print(mean_absolute_error(y_test, y_predict))
print(mean_squared_error(y_test, y_predict))

0.0535022361630888
2.8670092228384094
11.755620520117661

In [46]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

#Linear regression
X = pd.DataFrame()

X["gender"] = df_math['gender factorized']
X["age"] = df_math['age']
X["fam_size_Fact"] = df_math['fam size factorized']
X['travel'] = df_math['traveltime']
X['study'] = df_math["studytime"]
X['activities'] = df_math['activities factorized']
X['free'] = df_math['freetime']
X['out'] = df_math['goout']
X['absences'] = df_math['absences']                     

y = pd.DataFrame()
y['mid1'] = df_math['G1']

X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model = MLPRegressor(random_state=0)

model.fit(X_train, y_train)

y_predict = model.predict(x_test)
print(r2_score(y_test, y_predict))
print(mean_absolute_error(y_test, y_predict))
print(mean_squared_error(y_test, y_predict))

/Users/andreisandor/anaconda3/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1617: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-0.01030129770383037
2.993201443443702
12.54806838490862

/Users/andreisandor/anaconda3/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

#Linear regression
X = pd.DataFrame()

X["gender"] = df_math['gender factorized']
X["age"] = df_math['age']
X["fam_size_Fact"] = df_math['fam size factorized']
X['travel'] = df_math['traveltime']
X['study'] = df_math["studytime"]
X['activities'] = df_math['activities factorized']
X['free'] = df_math['freetime']
X['out'] = df_math['goout']
X['absences'] = df_math['absences']                     

y = pd.DataFrame()
y['mid1'] = df_math['G1']

X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model = DecisionTreeRegressor(random_state=0)

model.fit(X_train, y_train)

y_predict = model.predict(x_test)
print(r2_score(y_test, y_predict))
print(mean_absolute_error(y_test, y_predict))
print(mean_squared_error(y_test, y_predict))

-1.1280284851768716
4.2025316455696204
26.430379746835442

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

#Linear regression
X = pd.DataFrame()

X["gender"] = df_math['gender factorized']
X["age"] = df_math['age']
X["fam_size_Fact"] = df_math['fam size factorized']
X['travel'] = df_math['traveltime']
X['study'] = df_math["studytime"]
X['activities'] = df_math['activities factorized']
X['free'] = df_math['freetime']
X['out'] = df_math['goout']
X['absences'] = df_math['absences']                     

y = pd.DataFrame()
y['mid1'] = df_math['G1']

X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model = RandomForestRegressor(random_state=0)

model.fit(X_train, y_train)

y_predict = model.predict(x_test)
print(r2_score(y_test, y_predict))
print(mean_absolute_error(y_test, y_predict))
print(mean_squared_error(y_test, y_predict))

0.07730646593876944
2.918679324894515
11.459969011251758

/var/folders/zp/j6n5zjwx4g184f0x4g1j4llc0000gn/T/ipykernel_89635/2484958690.py:25: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)